body {
     font-family: Arial!important;
 }
 .rightfloat
 {
   margin-left: auto;
 }
.tooltip
{
  font-size: 20px;
  font-style: normal;
}
.tooltip.left .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #0a6aa7; /* black */
  border-width: 0 5px 5px;
}
.tooltip.right .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #0a6aa7; /* black */
  border-width: 0 5px 5px;
}
.tooltip-inner {
background-color:  #0a6aa7;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #0a6aa7 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #0a6aa7 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #0a6aa7 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #0a6aa7 !important;
}
